<form class="mt-4" method="POST" action="/obj/store">
      <div class="form-group">
            <label for="exampleInputEmail1">Tên</label>
            <input type="text" name="name" class="form-control" id="search-input" placeholder="Từ khóa">
            <label for="age-ipnut">Tuổi</label>
            <input type="text" name="age" class="form-control" id="search-input" placeholder="Từ khóa">
      </div>
      <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
